<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!-- Navbar-->
    <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-light fixed-top">
        <div class="container px-5">
            <a class="headerLogo" th:href="@{/}">TG IN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-lg-5">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">회사소개</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/services}">서비스</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>