// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .info {
    position: relative;
    inset: 0;
    z-index: 3;
    padding: 140px 0 60px 0;

    @media (max-width: 768px),
    (max-height: 480px) {
      padding: 100px 50px 60px 50px;
    }

    h2 {
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 56px;
      font-weight: 700;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 4px;
        background: var(--accent-color);
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      @media (max-width: 768px) {
        font-size: 36px;
      }
    }

    p {
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      font-size: 18px;
    }

    .btn-get-started {
      color: var(--contrast-color);
      background: var(--accent-color);
      font-family: var(--heading-font);
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 40px;
      border-radius: 4px;
      transition: 0.5s;
      margin: 10px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
        color: var(--contrast-color);
      }
    }
  }

  .carousel {
    inset: 0;
    position: absolute;
    overflow: hidden;
  }

  .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition-duration: 0.4s;

    img {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  .carousel-item::before {
    content: '';
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .carousel-control-prev {
    justify-content: start;

    @media (min-width: 640px) {
      padding-left: 15px;
    }
  }

  .carousel-control-next {
    justify-content: end;

    @media (min-width: 640px) {
      padding-right: 15px;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: color-mix(in srgb, var(--default-color), transparent 80%);
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 3;
    transition: 0.3s;

    &:focus {
      opacity: .5;
    }

    &:hover {
      opacity: .9;
    }
  }
}