// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #070c15;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }
  }

  .btn-getstarted,
  .btn-getstarted:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 26px;
    margin: 0;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      color: var(--contrast-color);
      background: color-mix(in srgb, var(--accent-color), transparent 15%);
    }
  }

  @media (max-width: 1200px) {
    .logo {
      order: 1;
    }

    .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 20px;
    }

    .navmenu {
      order: 3;
    }
  }

  .scrolled & {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: #070c15;
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(7, 12, 21, 0.3);
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: #070c15;
}